<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
</head>
<body>
<h1>Welcome to...</h1>
<img th:src="@{/images/tacos-1613795_640.jpg}"/>
</body>
<div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet magna id justo eleifend varius. Aenean sapien lorem, tincidunt vel erat id, malesuada pharetra ante. Donec velit ante, venenatis non condimentum ut, imperdiet id urna. Integer id ullamcorper nibh. Vivamus eget magna risus. Donec sit amet semper diam, at consectetur ligula. Integer cursus lectus nibh. Nullam sit amet vulputate justo.</p>
</div>
<div>
    <a href="/design">design your taco</a>
</div>
<div>
    Image by <a href="https://pixabay.com/users/dolvita108-3022126/">Constanze Riechert-Kurtze</a> from <a href="https://pixabay.com/">Pixabay</a>
</div>
</html>